<owl-carousel-o #carousel [options]="customOptions">
  <ng-template carouselSlide [id]="'main-carousel__slide-1'">
    <img class="w-full" src="../../../assets/wild-serisi-oyuncu-mouse-pad-acf8(1).jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-2'">
    <img class="w-full" src="../../../assets/oyunculara-ozel-mouse-padler-c2ff.jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-3'">
    <img class="w-full" src="../../../assets/patch--yama-2605.jpg" />
  </ng-template>
</owl-carousel-o>
<owl-carousel-o #carousel1 [options]="customOptions">
  <ng-template carouselSlide [id]="'main-carousel__slide-1'">
    <img class="w-full" src="../../../assets/wild-serisi-oyuncu-mouse-pad-acf8(1).jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-2'">
    <img class="w-full" src="../../../assets/oyunculara-ozel-mouse-padler-c2ff.jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-3'">
    <img class="w-full" src="../../../assets/patch--yama-2605.jpg" />
  </ng-template>
</owl-carousel-o>
<owl-carousel-o #carousel2 [options]="customOptions">
  <ng-template carouselSlide [id]="'main-carousel__slide-1'">
    <img class="w-full" src="../../../assets/wild-serisi-oyuncu-mouse-pad-acf8(1).jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-2'">
    <img class="w-full" src="../../../assets/oyunculara-ozel-mouse-padler-c2ff.jpg" />
  </ng-template>
  <ng-template carouselSlide [id]="'main-carousel__slide-3'">
    <img class="w-full" src="../../../assets/patch--yama-2605.jpg" />
  </ng-template>
</owl-carousel-o>
<!-- <div class="grid grid-cols-12">
  <owl-carousel-o class="col-start-3 col-end-11" [options]="customOptions">
    <ng-template carouselSlide [id]="'main-carousel__slide-1'">
      <img class="w-full" src="../../../assets/wild-serisi-oyuncu-mouse-pad-acf8(1).jpg" />
    </ng-template>
    <ng-template carouselSlide [id]="'main-carousel__slide-2'">
      <img class="w-full" src="../../../assets/oyunculara-ozel-mouse-padler-c2ff.jpg" />
    </ng-template>
    <ng-template carouselSlide [id]="'main-carousel__slide-3'">
      <img class="w-full" src="../../../assets/patch--yama-2605.jpg" />
    </ng-template>
  </owl-carousel-o>
</div> -->
