<div class="grid grid-cols-12 h-screen w-screen min-h-0 min-w-0 overflow-hidden grid-rows-1">
  <aside class="col-span-3 bg-primary text-primary-content flex flex-col gap-4">
    <span class="text-3xl px-4 my-3">Dashboard</span>
    <a routerLink="products" routerLinkActive="b-active" class="admin-link">
      <fa-icon [icon]="iconsService.barcode" />
      Ürünler
    </a>
    <a routerLink="categories" routerLinkActive="b-active" class="admin-link">
      <fa-icon [icon]="iconsService.layerGroup" />
      Kategoriler
    </a>
  </aside>
  <main class="col-start-4 col-end-[-1] flex flex-col children-h-100">
    <router-outlet></router-outlet>
  </main>
</div>
