<div class="flex flex-col gap-3 min-h-0 min-w-0 shadow-md p-2 rounded">
  <img [src]="product.mainImg" [alt]="product.title" class="h-[250px] object-contain" />
  <div class="flex flex-col gap-3">
    <div class="flex gap-2 text-xl font-bold">
      <h1 class="flex-1 truncate" [title]="product.title">{{ product.title }}</h1>
      <a
        [routerLink]="'/admin/products/edit/' + product._id"
        title="Düzenle"
        class="bg-warning text-warning-content hover:bg-warning/80 rounded-full h-7 w-7 text-base flex items-center justify-center">
        <fa-icon [icon]="iconsService.edit" />
      </a>
      <button
        title="Sil"
        class="bg-error text-error-content hover:bg-error/80 rounded-full h-7 w-7 text-base flex items-center justify-center">
        <fa-icon [icon]="iconsService.delete" />
      </button>
    </div>
    <span class="text-base h-[4.5rem] overflow-auto">{{ product.description }}</span>
    <div class="grid grid-cols-2">
      <span>
        <fa-icon [icon]="iconsService.price" />
        Fiyat:
      </span>
      <span class="ml-auto">₺{{ product.price }}</span>
      <hr class="col-span-2 my-2" />
      <span>
        <fa-icon [icon]="iconsService.stock" />
        Stok:
      </span>
      <span class="ml-auto">{{ product.stock + " " + product.unit }}</span>
    </div>
  </div>
</div>
