<!-- <Templates> -->
<ng-template #categoriesTemplate>
  <ul class="menu bg-base-200 rounded-box">
    <span class="text-lg">Kategoriler</span>
    <li *ngFor="let grp of groups">
      <ng-container *ngIf="!grp.categories || grp.categories.length <= 0">
        <label class="flex gap-2 cursor-pointer group">
          <input
            [checked]="grp.checked"
            class="pointer-events-none"
            type="checkbox"
            (change)="grpCheckedChanged(grp.value)" />
          <span class="line-clamp-1 border-primary transition-all group-hover:border-l-4 group-hover:pl-2">
            {{ grp.name }}
          </span>
        </label>
        <hr class="pointer-events-none py-0 my-2" />
      </ng-container>
      <ng-container *ngIf="grp.categories && grp.categories.length > 0">
        <details open>
          <summary>
            <label class="flex gap-2 cursor-pointer group">
              <input
                [checked]="grp.checked"
                class="pointer-events-none"
                type="checkbox"
                (change)="grpCheckedChanged(grp.value)" />
              <span class="line-clamp-1 border-primary transition-all group-hover:border-l-4 group-hover:pl-2">
                {{ grp.name }}
              </span>
            </label>
          </summary>
          <ul class="max-h-36 overflow-auto">
            <li *ngFor="let cat of grp.categories">
              <label class="flex gap-2 cursor-pointer group">
                <input
                  [checked]="cat.checked"
                  class="pointer-events-none"
                  type="checkbox"
                  (change)="catCheckedChanged(cat.category.slug)" />
                <span class="line-clamp-1 border-primary transition-all group-hover:border-l-4 group-hover:pl-2">
                  {{ cat.category.title }}
                </span>
              </label>
            </li>
          </ul>
        </details>
        <hr class="pointer-events-none py-0 my-2" />
      </ng-container>
    </li>
  </ul>
</ng-template>

<ng-template #sortTemplate>
  <select
    class="select select-sm rounded-sm select-primary w-full max-w-xs"
    (change)="selectedChanged($event.target.value)">
    <option disabled [selected]="!queryParams.obj.sort">Sıralama</option>
    <option [selected]="queryParams.obj.sort === 'priceAsc'" value="priceAsc">Fiyata Göre (Artan)</option>
    <option [selected]="queryParams.obj.sort === 'priceDesc'" value="priceDesc">Fiyata Göre (Azalan)</option>
    <option [selected]="queryParams.obj.sort === 'titleAsc'" value="titleAsc">Ürün Adına Göre (A > Z)</option>
    <option [selected]="queryParams.obj.sort === 'titleDesc'" value="titleDesc">Ürün Adına Göre (Z > A)</option>
  </select>
</ng-template>

<ng-template #inStockTemplate>
  <a
    routerLink="./"
    [queryParams]="queryParams.set({ inStock: !queryParams.obj.inStock })"
    class="label cursor-pointer justify-start">
    <input
      type="checkbox"
      [checked]="queryParams.obj.inStock"
      class="checkbox checkbox-sm mr-1 checkbox-primary pointer-events-none" />
    <span class="label-text">Stoktakiler</span>
  </a>
</ng-template>
<!-- </Templates> -->

<div class="grid grid-cols-12 h-auto">
  <!-- Kategoriler, lg+ -->
  <div
    class="max-lg:hidden lg:col-span-3 xl:col-span-2 2xl:col-span-2 max-h-[calc(100vh-14rem)] sticky top-0 p-2"
    *ngIf="
      groups &&
      (groups.length > 1 || (groups.length > 0 && groups[0].categories && groups[0].categories.length > 1)) &&
      !categorySlug
    ">
    <div class="max-h-[calc(100%-3rem)] overflow-auto">
      <ng-template [ngTemplateOutlet]="categoriesTemplate"></ng-template>
    </div>
    <button class="btn btn-primary btn-sm max-w-full w-full mt-2" (click)="applyFilterHandler()">Uygula</button>
  </div>
  <!-- Ürünler -->
  <div
    class="max-lg:col-start-1 max-lg:col-span-12 lg:col-start-4 lg:col-end-13 xl:col-start-3 xl:col-end-13 2xl:col-start-3 2xl:col-end-12 min-h-[calc(100vh-14rem)] flex flex-col">
    <span *ngIf="queryParams.obj.search" class="mx-4 text-sm  mt-3">
      <span class="font-bold">"{{ queryParams.obj.search }}"</span>
      aramasına ilişkin sonuçlar:
    </span>
    <!-- Seçenekler, max-lg -->
    <app-drawer drawerName="filterDrawer" class="lg:hidden w-full">
      <div role="button" class="btn btn-primary btn-sm rounded w-full" drawerButton>
        <fa-icon [icon]="iconsService.gear" />
        <span>Seçenekler</span>
      </div>
      <div class="p-4 w-80 min-h-full bg-base-200 text-base-content">
        <ng-template [ngTemplateOutlet]="sortTemplate" />

        <ng-template [ngTemplateOutlet]="inStockTemplate" />
        <!-- Kategoriler -->
        <div>
          <ng-template [ngTemplateOutlet]="categoriesTemplate"></ng-template>
          <button class="btn btn-primary btn-sm max-w-full w-full mt-2" (click)="applyFilterHandler()">Uygula</button>
        </div>
      </div>
    </app-drawer>
    <!-- Filtreler -->
    <div class="flex items-center gap-3 px-4 py-3">
      <!-- Sırala, "Stokta" seçenekleri -->
      <div class="max-lg:hidden flex items-center gap-3">
        <ng-template [ngTemplateOutlet]="sortTemplate" />
        <ng-template [ngTemplateOutlet]="inStockTemplate" />
      </div>
      <!-- Ürün sayısı -->
      <span class="text-sm font-bold ml-auto">{{ totalDocs }} Ürün</span>
      <!-- Genişlik, lg+ -->
      <div class="max-lg:hidden flex items-center">
        <a
          routerLink="./"
          [queryParams]="queryParams.set({ wide: false, cold: true })"
          class="text-sm font-bold"
          [ngClass]="{ 'text-primary': !queryParams.obj.wide, 'text-primary/50': queryParams.obj.wide }">
          Dar
        </a>
        <div class="divider divider-horizontal mx-2"></div>
        <a
          routerLink="./"
          [queryParams]="queryParams.set({ wide: true, cold: true })"
          class="text-sm font-bold"
          [ngClass]="{ 'text-primary': queryParams.obj.wide, 'text-primary/50': !queryParams.obj.wide }">
          Geniş
        </a>
      </div>
    </div>
    <div class="">
      <app-products [products]="products" [isAdmin]="false" [wide]="queryParams.obj.wide" />
    </div>
    <div class="mt-auto flex" *ngIf="products && products.length > 0">
      <div class="join px-4">
        <ng-container *ngFor="let btn of pageButtons">
          <a
            *ngIf="btn !== '...'"
            class="join-item btn btn-xs"
            [ngClass]="{ 'btn-active': btn === queryParams.obj.page }"
            routerLink="./"
            [queryParams]="queryParams.set({ page: btn })">
            {{ btn }}
          </a>
          <span *ngIf="btn === '...'" class="mx-2">
            {{ btn }}
          </span>
        </ng-container>
      </div>
      <div class="join px-4 ml-auto">
        <span class="text-sm my-auto mr-3">Ürün sayısı:</span>
        <a
          *ngFor="let lim of limits"
          class="join-item btn btn-xs"
          [ngClass]="{ 'btn-active': lim === queryParams.obj.limit }"
          routerLink="./"
          [queryParams]="queryParams.set({ limit: lim })">
          {{ lim }}
        </a>
      </div>
    </div>
  </div>
</div>
