@tailwind base;
@tailwind components;
@tailwind utilities;

.main-carousel .owl-dots {
  background: #00000080;
  position: absolute;
  margin: auto;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 7px;
}

app-root {
  /* @apply grid h-screen min-h-0 min-w-0 overflow-hidden w-screen;
  align-content: start;
  grid-template-rows: repeat(2, auto) 0;
  align-items: start;
  grid-auto-rows: 1fr; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-base-300 rounded-sm;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-content/75 rounded-sm;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-base-content;
}

.children-h-100 > * {
  @apply h-full;
}

router-outlet {
  height: 0 !important;
}

