@tailwind base;
@tailwind components;
@tailwind utilities;

.main-carousel .owl-dots {
  background: #00000080;
  position: absolute;
  margin: auto;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 7px;
}

app-root {
  /* display: block;
  width: 80vw;
  height: 100vh;
  overflow: visible; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary rounded-sm;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent/75 rounded-sm;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

.children-h-100 > * {
  @apply h-full;
}

router-outlet {
  height: 0 !important;
}
